@import "globalVars";
@import "components";

* {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    box-sizing: border-box;
    color: $light-text;
}

button {
    background-color: inherit;
    border: inherit;
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

body {
    background-color: $main-bg;
}

a {
    text-decoration: none;
    color: $blue-text;
}

nav {
    @include flexB($j-content: center);
    padding: 20px;
}

footer {
    padding: 30px 0;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.centered {
    text-align: center;
}

.flex-box {
    @include flexB($alignment: start, $j-content: space-between);
    flex-wrap: wrap;
}

.text-18 {
    font-size: 18px;
}
.text-20 {
    font-size: 20px;
}
.text-25 {
    font-size: 25px;
}